<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <a href="/map" class="map">Map</a>
        </div>
        <div class="row">
            <div class="north">
                <a>There is a wall to the North</a>
            </div>
        </div>

        <div class="row">
            <div class="west">
                <a  >There is a wall to the West</a>
            </div>
            <div class="description">
                <h2>Bone Pit</h2>
                <p>You walk into a darkened room and feel crunching beneath your feet.
                     You move your torch and discover broken bits of bone underfoot. 
                     The ground slopes into a pit, filled with brittle skeleton remains. 
                     You recognize at least one human skull; you hasten your steps to leave this macabre sight.</p>
                <p>
                    <% if (item1==false) { %>
                        Before you hurry out you notice a large <a href="../item/key">Key</a> grasped in the remains of a skeletal hand at the edge of the pit.
                    <% } else { %>
                        You have already picked up a Key from this location
                    <% } %>
                </p>
            </div>
            <div class="east">
                <a  >There is a wall to the East</a>
            </div>
        </div>

        <div class="row">
            <div class="south">
                <a href="/room/4">Move South</a>
            </div>
        </div>
    </div>
</body>
</html>