<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="north">
                <a>There is a wall to the North</a>
            </div>
        </div>

        <div class="row">
            <div class="west">
                <a href="/room/9">Move West</a>
            </div>
            <div class="description">
                <h2>Endless Ruins</h2>
                <p>Before you is a maze of broken pillars and ruined walls. 
                    You climb atop a toppled structure and the rubble continues for as far as you can see, 
                    your footsteps echoing deep into the unknown. 
                    You know that there is little way you could traverse this without getting lost, and so you look for an alternative way out.</p>
            </div>
            <div class="east">
                <a  >There is a wall to the East</a>
            </div>
        </div>

        <div class="row">
            <div class="south">
                <a  >There is a wall to the South</a>
            </div>
        </div>
    </div>
</body>
</html>