<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Wailing Caverns</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <a href="/map" class="map">Map</a>
        </div>
        <div class="row">
            <div class="north">
                <a href="/room/8">Move North</a>
            </div>
        </div>

        <div class="row">
            <div class="west">
                <a  >There is a wall to the West</a>
            </div>
            <div class="description">
                <h2>Wailing Caverns</h2>
                <p>Suddenly the cave soars up into a wide open cavern and you see spiraling stalactites descending from the ceiling. 
                    A putrid breeze flows through the air and in the distance you hear a wailing roar, unsure if it's the wind or something else. 
                    You strain your ear and there is the occasional patter of distant stone formations falling to the floor.</p>
            </div>
            <div class="east">
                <a  >There is a wall to the East</a>
            </div>
        </div>

        <div class="row">
            <div class="south">
                <a href="/room/14">Move South</a>
            </div>
        </div>
    </div>
</body>
</html>