<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Treasure Room</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <a href="/map" class="map">Map</a>
        </div>
        <div class="row">
            <div class="north">
                <a>There is a wall to the North</a>
            </div>
        </div>

        <div class="row">
            <div class="west">
                <a  >There is a wall to the West</a>
            </div>
            <div class="description">
                <h2>Treasure Room</h2>
                <p>Millions of little lights dance across your eyes as you realize you are looking upon a vast pile of treasure. 
                    Rubies, emeralds, endless amounts of gold, all thrown haphazardly onto the ground. 
                    You notice that there is a large stain of blood around it, and the smell of rot in the air. 
                    You decide it is not worth your life, keeping your itching fingers to yourself.</p>
                <p>
                    <% if (item3==false) { %>
                        At your feet though you notice a large bronze <a href="../item/coin">Coin</a>, heavily patinated and with rough edges.
                    <% } else { %>
                        You have already picked up a Coin from this location
                    <% } %>
                </p>
            </div>
            <div class="east">
                <a href="/room/12">Move East</a>
            </div>
        </div>

        <div class="row">
            <div class="south">
                <a  >There is a wall to the South</a>
            </div>
        </div>
    </div>
</body>
</html>