<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="north">
                <a>There is a wall to the North</a>
            </div>
        </div>

        <div class="row">
            <div class="west">
                <a  >There is a wall to the West</a>
            </div>
            <div class="description">
                <h2>Engine Room</h2>
                <p>At the center there stands a large contraption of moving iron, pumping rhythmically with bellows of flames in its belly. 
                    You hear it groan with each beat as rust scrapes against rust and feel the pressing heat against your face. 
                    You do not know what it does or how long it will last, and you don’t wish to stay to figure out either.</p>
            </div>
            <div class="east">
                <a href="/room/3">Move East</a>
            </div>
        </div>

        <div class="row">
            <div class="south">
                <a href="/room/5">Move South</a>
            </div>
        </div>
    </div>
</body>
</html>