<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>The Sanctuary</title>
</head>
<body style="background-color: white;">
    <div class="container">
        <div class="row">
            <a href="/map" class="map">Map</a>
        </div>
        <div class="row">
            <div class="north">
                <a href="/room/5">Move north</a>
            </div>
        </div>

        <div class="row">
            <div class="west">
                <a href="/room/7">Move west</a>
            </div>
            <div class="description">
                <h2>The Sanctuary</h2>
                <p>You are in a dark cave, your torch throws flickering shadows against the cold damp walls. 
                You feel a small amount of warmth from the shafts of light eminating from the hole in the ceiling you climbed down.
                It is quiet and oddly peaceful; you know that you can rest here without worry.</p>
            </div>
            <div class="east">
                <a href="/room/9">Move east</a>
            </div>
        </div>

        <div class="row">
            <div class="south">
                <a href="/room/11">Move south</a>
            </div>
        </div>
    </div>
</body>
</html>