<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/item.css">
    <title>Dungeon Adventure</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>Welcome to the Dungeon</h1>
            <p>Choose a direction to go in, explore, and escape!</p>
        </div>
        <div>
            <a href="/room/8">Enter the Dungeon</a>
        </div>
        <div class="reset">
            <a href="/reset">Reset Progress</a>
        </div>
    </div>
</body>
</html>