<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/item.css">
    <title>Coin</title>
</head>
<body>
    <div class="container">
        <div class="description">
            <h2>You found the Coin</h2>
            <p>The coin has been inscribed with a complex series of lines creating a pleasing geometric pattern.</p>
        </div>
        <div class="return">
            <a href="/room/13">Return</a>
        </div>
    </div>
</body>
</html>