<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/map.css">
    <title>Map</title>
</head>
<body>
    <div class="container">
        <div class="nav">
            <div>
                Press back in browser to return
            </div>
        </div>
        <table>
            <tbody>
                <tr>
                    <td class="mark">
                        <% if (explored[0] == true) { %>
                        <div class="tile">
                            Bone Pit
                            <br>
                            Key
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (explored[1] == true) { %>
                        <div class="tile">
                            Engine Room
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (explored[2] == true) { %>
                        <div class="tile">
                            Ancient Altar
                            <br>
                            Crystal
                        </div>
                        <% } %>
                    </td>
                    <td class="empty"></td>
                </tr>
                <tr>
                    <td class="mark">
                        <% if (explored[3] == true) { %>
                        <div class="tile">
                            Underground River
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (explored[4] == true) { %>
                        <div class="tile">
                            Abandoned Library
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (explored[5] == true) { %>
                        <div class="tile">
                            Spider's Nest
                        </div>
                        <% } %>
                    </td>
                    <td class="empty"></td>
                </tr>
                <tr>
                    <td class="mark">
                        <% if (explored[6] == true) { %>
                        <div class="tile">
                            Extinguished Campfire
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (explored[7] == true) { %>
                        <div class="tile">
                            The Sanctuary
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (explored[8] == true) { %>
                        <div class="tile">
                            Fungi Colony
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (explored[9] == true) { %>
                        <div class="tile">
                            Engless Ruins
                        </div>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td class="empty"></td>
                    <td class="mark">
                        <% if (explored[10] == true) { %>
                        <div class="tile">
                            Wailing Caverns
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (explored[11] == true) { %>
                        <div class="tile">
                            Tranquil Fountain
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (explored[12] == true) { %>
                        <div class="tile">
                            Treasure Room
                            <br>
                            Coin
                        </div>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td class="empty"></td>
                    <td class="mark">
                        <% if (explored[13] == true) { %>
                        <div class="tile">
                            Collapsed Prison
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (explored[14] == true) { %>
                        <div class="tile">
                            Big Door
                            <br>
                            Escape
                        </div>
                        <% } %>
                    </td>
                    <td class="empty"></td>
                </tr>
            </tbody>
        </table>
        <div class="nav">
            <a href="/reset">Reset Progress</a>
        </div>
    </div>
</body>
</html>