<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/map.css">
    <title>Map</title>
</head>
<body>
    <div class="container">
        <table>
            <tbody>
                <tr>
                    <td class="mark">
                        <% if (rm1==true) { %>
                        <div class="tile">
                            Bone Pit
                            <br>
                            Key
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (rm2==true) { %>
                        <div class="tile">
                            Engine Room
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (rm3==true) { %>
                        <div class="tile">
                            Ancient Altar
                            <br>
                            Crystal
                        </div>
                        <% } %>
                    </td>
                    <td class="empty"></td>
                </tr>
                <tr>
                    <td class="mark">
                        <% if (rm4==true) { %>
                        <div class="tile">
                            Underground River
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (rm5==true) { %>
                        <div class="tile">
                            Abandoned Library
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (rm6==true) { %>
                        <div class="tile">
                            Spider's Nest
                        </div>
                        <% } %>
                    </td>
                    <td class="empty"></td>
                </tr>
                <tr>
                    <td class="mark">
                        <% if (rm7==true) { %>
                        <div class="tile">
                            Extinguished Campfire
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (rm8==true) { %>
                        <div class="tile">
                            The Sanctuary
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (rm9==true) { %>
                        <div class="tile">
                            Fungi Colony
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (rm10==true) { %>
                        <div class="tile">
                            Engless Ruins
                        </div>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td class="empty"></td>
                    <td class="mark">
                        <% if (rm11==true) { %>
                        <div class="tile">
                            Wailing Caverns
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (rm12==true) { %>
                        <div class="tile">
                            Tranquil Fountain
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (rm13==true) { %>
                        <div class="tile">
                            Treasure Room
                            <br>
                            Coin
                        </div>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td class="empty"></td>
                    <td class="mark">
                        <% if (rm14==true) { %>
                        <div class="tile">
                            Collapsed Prison
                        </div>
                        <% } %>
                    </td>
                    <td class="mark">
                        <% if (rm15==true) { %>
                        <div class="tile">
                            Big Door
                            <br>
                            Escape
                        </div>
                        <% } %>
                    </td>
                    <td class="empty"></td>
                </tr>
                <tr>
                    <td class="nav">
                        Press back to return
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>