body {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: flex;
    flex-direction: column;
}
td {
    height: 8em;
    width: 8em;
}
.tile{
    height: inherit;
    width: inherit;
    border: 1px solid black;
    text-align: center;
}
.nav {
    justify-self: center;
    font-weight: 600;
    font-size: 1.1em;
}